/* detalle_alumno.css */

/* Estilos generales para la página de detalle del alumno */
body {
    font-family: 'Comic Sans', sans-serif;
    margin: 20px;
    background-color: rgb(123, 75, 185);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgb(75, 168, 185);
}

/* Estilos para la señal visual */
#señal-visual {
    width: 80px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.luz-verde {
    background-color: rgb(75, 185, 75);
}

.luz-roja {
    background-color: rgb(153, 43, 43);
}

/* Estilos para otros elementos de la página */
#informacion-alumno {
    margin-bottom: 20px;
}

/* Agrega más estilos según sea necesario para tu aplicación */
