

<html>
<head>
    <title>Detalles del Alumno</title>
</head>
<body>
    <h1>Detalles del Alumno</h1>
    <ul>
        <li><strong>Nombre:</strong> {{ alumno.nombre }}</li>
        <li><strong>Número de Expediente:</strong> {{ alumno.num_exp }}</li>
        <li><strong>Curso:</strong> {{ alumno.curs }}</li>
        <li><strong>Grupo:</strong> {{ alumno.grup }}</li>
        <li><strong>VIP:</strong> {% if alumno.vip %}Sí{% else %}No{% endif %}</li>
        <li><strong>Acompañante:</strong> {% if alumno.acomp %}Sí{% else %}No{% endif %}</li>            
    </ul>
    <ol>
        {% for v in visitas %}
            <li 
                {% if v.aceptada %} class="vAceptada">
                {% else %} class="vDenegada">
                {% endif %}
                {{ v.fecha_hora }} Aceptada: {{ v.aceptada }}</li>
        {% endfor %}
    </ol>
</body>
</html>

